.header {
    margin-top: 16vh;
    font-size: 8vh;
    font-weight: bold;
    text-align: center;
}

.subheader {
    margin-top: 1vh;
    font-size: 3vh;
    text-align: center;
    font-weight: 600;
}

.body {
    width: 60%;
    margin-left: 20%;
    margin-top: 6vh;
    font-size: 3.5vh;
}

.centeredBody {
    width: 60%;
    margin-left: 20%;
    margin-top: 6vh;
    font-size: 3.5vh;
    text-align: center;
}

.link {
    text-decoration: underline;
}