.main {
    position: absolute;
    top: 18vh;
    left: 10vw;
    width: 80vw;
    height: 78vh;
    text-align: center;
    overflow-y: scroll;
}

.header {
    font-family: 'Titan One';
    font-size: 5vh;
}

.subheader {
    font-size: 2.5vh;
    font-family: 'DM Sans';
    margin-top: 1.5vh;
}

.questions {
    margin-top: 8vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8vh 7vw;
}

.questionText {
    font-size: 3.65vh;
    font-weight: bold;
}

.answerText {
    margin-top: 1vh;
}

.link {
    font-weight: bold;
    text-decoration: underline;
}

.code {
    font-family: monospace;
    background: black;
    border-radius: 2px;
    padding: 2px 6px;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}