@import url(https://fonts.googleapis.com/css?family=Titan+One|DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000);

* {
    color: white;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background: black;
    margin: 0;
    font-family: 'DM Sans';
}

a {
    text-decoration: none;
}

.orbs {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.navbar {
    position: fixed;
    top: 1vh;
    left: 1vw;
    right: 1vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    z-index: 10;
}

.left {
    display: flex;
    align-items: center;
    width: 80%;
}

.icon {
    height: 3vh;
    margin-left: 1.5vw;
}

.title {
    font-family: 'Titan One';
    font-weight: 1000;
    font-size: 3vh;
    text-decoration: none;
    margin-left: 0.5vw;
    margin-right: 2vw;
    cursor: pointer;
}

.link {
    font-size: 2.8vh;
    margin-left: 0.5vw;
    margin-right: 1.5vw;
    cursor: pointer;
}