.introText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bold {
    font-weight: 1000;
    letter-spacing: 0.2px;
}

.introQuery {
    margin-top: 18vh;
    font-size: 5vh;
}

.introResponse {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-size: 5vh;
}

.name {
    margin-top: 2vh;
    font-family: 'Titan One';
    font-size: 10vh;
    font-weight: 500;
}

.banner {
    height: 70vh;
    display: flex;
    margin: 10vh auto 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 4vh;
}

.button {
    font-size: 3.5vh;
    border: 2px solid white;
    padding: 1.5vh 3vw;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.fullButton {
    font-size: 4.5vh;
    border: 2px solid white;
    padding: 2vh 5vw;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover,
.fullButton:hover {
    background: white;
    color: black;
}

.fullButton:hover a {
    color: black;
}